In [1]:
# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

# プロジェクト内モジュール
from gamedata import hard_sales as hs

In [ ]:
hard_sales_df = hs.load_hard_sales(normalize7=True)

In [6]:
pv1_df = hs.pivot_sales(hard_sales_df, ["NS2", "PS5", "NSW"])
pv1_year_df = pv1_df.resample('Y').sum()
pv1_year_df.style.format('{:,.0f}')

これらの結果が定点観測のデータと一致するか

- 2020:NSW OK
- 2020:PS5 OK
- 2021:NSW OK
- 2021:PS5 OK
- 2022:NSW OK
- 2022:PS5 OK
- 2023:NSW OK
- 2023:PS5 OK
- 2024:NSW OK
- 2024:PS5 OK

## unitsの値は正常。

In [8]:
pv2_df = hs.pivot_cumulative_sales(hard_sales_df, ["NS2", "PS5", "NSW"])
pv2_year_df = pv2_df.resample('Y').last()
pv2_year_df.style.format('{:,.0f}')

unitsから計算した累計値と、sum_unitsから計算した累計値は一致。
よって、sum_unitには問題無し。

extract_week_reached_unitsのやりたいことを違う方法でやってみて同一結果かどうか確認
180万台に最初に到達した週を探す。

In [10]:
df180 = hard_sales_df[hard_sales_df['sum_units'] >= 1800000]
df180

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
112,1999-03-14_GB,1999-03-08,1999-03-14,1999-03-14,7,GB,36610,1999,3,14,10,3614,516,119,10,5230,1804482,1989-04-21,Nintendo,GAME BOY
124,1999-03-21_GB,1999-03-15,1999-03-21,1999-03-21,7,GB,31294,1999,3,21,11,3621,517,119,10,4470,1835776,1989-04-21,Nintendo,GAME BOY
128,1999-03-28_GB,1999-03-22,1999-03-28,1999-03-28,7,GB,40726,1999,3,28,12,3628,518,119,10,5818,1876502,1989-04-21,Nintendo,GAME BOY
134,1999-04-04_GB,1999-03-29,1999-04-04,1999-04-04,7,GB,40738,1999,4,4,13,3635,519,120,10,5819,1917240,1989-04-21,Nintendo,GAME BOY
142,1999-04-11_GB,1999-04-05,1999-04-11,1999-04-11,7,GB,32870,1999,4,11,14,3642,520,120,10,4695,1950110,1989-04-21,Nintendo,GAME BOY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8437,2025-07-20_PS5,2025-07-14,2025-07-20,2025-07-20,7,PS5,6148,2025,7,20,29,1711,244,56,5,878,6932318,2020-11-12,SONY,PlayStation5
8439,2025-07-27_NS2,2025-07-21,2025-07-27,2025-07-27,7,NS2,92013,2025,7,27,30,52,7,1,0,13144,1846889,2025-06-05,Nintendo,Nintendo Switch2
8440,2025-07-27_NSW,2025-07-21,2025-07-27,2025-07-27,7,NSW,14643,2025,7,27,30,3068,438,100,8,2091,35850981,2017-03-03,Nintendo,Nintendo Switch
8441,2025-07-27_PS4,2025-07-21,2025-07-27,2025-07-27,7,PS4,18,2025,7,27,30,4173,596,137,11,2,9490688,2014-02-22,SONY,PlayStation4
8442,2025-07-27_PS5,2025-07-21,2025-07-27,2025-07-27,7,PS5,6920,2025,7,27,30,1718,245,56,5,988,6939238,2020-11-12,SONY,PlayStation5

In [13]:
for h in ['NS2', 'PS5', 'NSW']:
    print(f"{h} first week reached 1800000 units:")
    print(df180[df180['hw'] == h].head(1))
    print("=====")

NS2 first week reached 1800000 units:
           weekly_id begin_date   end_date report_date  period_date   hw  \
8439  2025-07-27_NS2 2025-07-21 2025-07-27  2025-07-27            7  NS2

      units  year  month  mday  week  delta_day  delta_week  delta_month  \
8439  92013  2025      7    27    30         52           7            1

      delta_year  avg_units  sum_units launch_date maker_name  \
8439           0      13144    1846889  2025-06-05   Nintendo

             full_name
8439  Nintendo Switch2
=====
PS5 first week reached 1800000 units:
           weekly_id begin_date   end_date report_date  period_date   hw  \
7721  2022-07-31_PS5 2022-07-25 2022-07-31  2022-07-31            7  PS5

      units  year  month  mday  week  delta_day  delta_week  delta_month  \
7721  39336  2022      7    31    30        626          89           20

      delta_year  avg_units  sum_units launch_date maker_name     full_name
7721           2       5619    1803981  2020-11-12       SONY  PlayStation5
=====
NSW first week reached 1800000 units:
           weekly_id begin_date   end_date report_date  period_date   hw  \
6488  2017-10-01_NSW 2017-09-25 2017-10-01  2017-10-01            7  NSW

      units  year  month  mday  week  delta_day  delta_week  delta_month  \
6488  74500  2017     10     1    39        212          30            7

      delta_year  avg_units  sum_units launch_date maker_name        full_name
6488           0      10642    1808583  2017-03-03   Nintendo  Nintendo Switch
=====

In [14]:
dfps5 = hs.extract_week_reached_units(hard_sales_df, threshold_units=1800000)
dfps5

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
4394,2011-09-18_3DS,2011-09-12,2011-09-18,2011-09-18,7,3DS,62245,2011,9,18,37,204,29,7,0,8892,1849714,2011-02-26,Nintendo,Nintendo 3DS
951,2001-04-22_DC,2001-04-16,2001-04-22,2001-04-22,7,DC,5056,2001,4,22,16,877,125,29,3,722,1804559,1998-11-27,SEGA,DreamCast
2242,2005-03-27_DS,2005-03-21,2005-03-27,2005-03-27,7,DS,60507,2005,3,27,12,115,16,3,1,8643,1809306,2004-12-02,Nintendo,Nintendo DS
112,1999-03-14_GB,1999-03-08,1999-03-14,1999-03-14,7,GB,36610,1999,3,14,10,3614,516,119,10,5230,1804482,1989-04-21,Nintendo,GAME BOY
985,2001-05-20_GBA,2001-05-14,2001-05-20,2001-05-20,7,GBA,70875,2001,5,20,20,60,8,2,0,10125,1809362,2001-03-21,Nintendo,GAME BOY ADVANCE
1605,2002-12-15_GC,2002-12-09,2002-12-15,2002-12-15,7,GC,44902,2002,12,15,50,457,65,15,1,6414,1833710,2001-09-14,Nintendo,Nintendo GAMECUBE
8439,2025-07-27_NS2,2025-07-21,2025-07-27,2025-07-27,7,NS2,92013,2025,7,27,30,52,7,1,0,13144,1846889,2025-06-05,Nintendo,Nintendo Switch2
6488,2017-10-01_NSW,2017-09-25,2017-10-01,2017-10-01,7,NSW,74500,2017,10,1,39,212,30,7,0,10642,1808583,2017-03-03,Nintendo,Nintendo Switch
303,1999-09-19_PKS,1999-09-13,1999-09-19,1999-09-19,7,PKS,74235,1999,9,19,37,239,34,8,0,10605,1833921,1999-01-23,SONY,PocketStation
242,1999-07-18_PS,1999-07-12,1999-07-18,1999-07-18,7,PS,33633,1999,7,18,28,1688,241,55,5,4804,1827460,1994-12-03,SONY,PlayStation
586,2000-06-11_PS2,2000-06-05,2000-06-11,2000-06-11,7,PS2,79393,2000,6,11,23,99,14,3,0,11341,1873108,2000-03-04,SONY,PlayStation2
3207,2008-01-20_PS3,2008-01-14,2008-01-20,2008-01-20,7,PS3,32264,2008,1,20,3,435,62,14,2,4609,1809314,2006-11-11,SONY,PlayStation3
5956,2015-11-08_PS4,2015-11-02,2015-11-08,2015-11-08,7,PS4,32593,2015,11,8,45,624,89,21,1,4656,1832187,2014-02-22,SONY,PlayStation4
7721,2022-07-31_PS5,2022-07-25,2022-07-31,2022-07-31,7,PS5,39336,2022,7,31,30,626,89,20,2,5619,1803981,2020-11-12,SONY,PlayStation5
2403,2005-09-25_PSP,2005-09-19,2005-09-25,2005-09-25,7,PSP,41827,2005,9,25,38,287,41,9,1,5975,1821819,2004-12-12,SONY,PlayStation Portable
5219,2013-10-13_Vita,2013-10-07,2013-10-13,2013-10-13,7,Vita,58682,2013,10,13,41,666,95,22,2,8383,1836062,2011-12-17,SONY,PlayStation Vita
2888,2007-03-11_Wii,2007-03-05,2007-03-11,2007-03-11,7,Wii,49750,2007,3,11,10,99,14,3,1,7107,1801988,2006-12-02,Nintendo,Wii
5484,2014-06-22_WiiU,2014-06-16,2014-06-22,2014-06-22,7,WiiU,8373,2014,6,22,25,561,80,18,2,1196,1801022,2012-12-08,Nintendo,WiiU