In [1]:
# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

# プロジェクト内モジュール
from gamedata import hard_sales as hs

df = hs.load_hard_sales()

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
0,1998-10-18_GB,1998-10-12,1998-10-18,1998-10-18,7,GB,10867,1998,10,18,3,3467,495,114,9,1552,10867,1989-04-21,Nintendo,GAME BOY
1,1998-10-18_N64,1998-10-12,1998-10-18,1998-10-18,7,N64,2965,1998,10,18,3,847,121,28,2,423,2965,1996-06-23,Nintendo,NINTENDO64
2,1998-10-18_PS,1998-10-12,1998-10-18,1998-10-18,7,PS,20918,1998,10,18,3,1415,202,46,4,2988,20918,1994-12-03,SONY,PlayStation
3,1998-10-18_SATURN,1998-10-12,1998-10-18,1998-10-18,7,SATURN,858,1998,10,18,3,1426,203,47,4,122,858,1994-11-22,SEGA,SEGA SATURN
4,1998-10-25_GB,1998-10-19,1998-10-25,1998-10-25,7,GB,163017,1998,10,25,4,3474,496,114,9,23288,173884,1989-04-21,Nintendo,GAME BOY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8444,2025-08-03_NS2,2025-07-28,2025-08-03,2025-08-03,7,NS2,62733,2025,8,3,1,59,8,2,0,8961,1677123,2025-06-05,Nintendo,Nintendo Switch2
8445,2025-08-03_NSW,2025-07-28,2025-08-03,2025-08-03,7,NSW,18637,2025,8,3,1,3075,439,101,8,2662,35869618,2017-03-03,Nintendo,Nintendo Switch
8446,2025-08-03_PS4,2025-07-28,2025-08-03,2025-08-03,7,PS4,19,2025,8,3,1,4180,597,138,11,2,9490707,2014-02-22,SONY,PlayStation4
8447,2025-08-03_PS5,2025-07-28,2025-08-03,2025-08-03,7,PS5,7141,2025,8,3,1,1725,246,57,5,1020,6946379,2020-11-12,SONY,PlayStation5
8448,2025-08-03_XSX,2025-07-28,2025-08-03,2025-08-03,7,XSX,271,2025,8,3,1,1727,246,57,5,38,682066,2020-11-10,Microsoft,Xbox Series X|S

In [19]:
mdf1 = df.set_index(['year', 'month', 'week'])
mdf1.sort_values(by=['year', 'month', 'week', 'units'], ascending=[True, True, True, False], inplace=True)
mdf1

                         weekly_id begin_date   end_date report_date  \
year month week
1998 10    3         1998-10-18_PS 1998-10-12 1998-10-18  1998-10-18
           3         1998-10-18_GB 1998-10-12 1998-10-18  1998-10-18
           3        1998-10-18_N64 1998-10-12 1998-10-18  1998-10-18
           3     1998-10-18_SATURN 1998-10-12 1998-10-18  1998-10-18
           4         1998-10-25_GB 1998-10-19 1998-10-25  1998-10-25
...                            ...        ...        ...         ...
2025 8     1        2025-08-03_NS2 2025-07-28 2025-08-03  2025-08-03
           1        2025-08-03_NSW 2025-07-28 2025-08-03  2025-08-03
           1        2025-08-03_PS5 2025-07-28 2025-08-03  2025-08-03
           1        2025-08-03_XSX 2025-07-28 2025-08-03  2025-08-03
           1        2025-08-03_PS4 2025-07-28 2025-08-03  2025-08-03

                 period_date      hw   units  mday  delta_day  delta_week  \
year month week
1998 10    3               7      PS   20918    18       1415         202
           3               7      GB   10867    18       3467         495
           3               7     N64    2965    18        847         121
           3               7  SATURN     858    18       1426         203
           4               7      GB  163017    25       3474         496
...                      ...     ...     ...   ...        ...         ...
2025 8     1               7     NS2   62733     3         59           8
           1               7     NSW   18637     3       3075         439
           1               7     PS5    7141     3       1725         246
           1               7     XSX     271     3       1727         246
           1               7     PS4      19     3       4180         597

                 delta_month  delta_year  avg_units  sum_units launch_date  \
year month week
1998 10    3              46           4       2988      20918  1994-12-03
           3             114           9       1552      10867  1989-04-21
           3              28           2        423       2965  1996-06-23
           3              47           4        122        858  1994-11-22
           4             114           9      23288     173884  1989-04-21
...                      ...         ...        ...        ...         ...
2025 8     1               2           0       8961    1677123  2025-06-05
           1             101           8       2662   35869618  2017-03-03
           1              57           5       1020    6946379  2020-11-12
           1              57           5         38     682066  2020-11-10
           1             138          11          2    9490707  2014-02-22

                maker_name         full_name
year month week
1998 10    3          SONY       PlayStation
           3      Nintendo          GAME BOY
           3      Nintendo        NINTENDO64
           3          SEGA       SEGA SATURN
           4      Nintendo          GAME BOY
...                    ...               ...
2025 8     1      Nintendo  Nintendo Switch2
           1      Nintendo   Nintendo Switch
           1          SONY      PlayStation5
           1     Microsoft   Xbox Series X|S
           1          SONY      PlayStation4

[8449 rows x 17 columns]

In [43]:
hs.pivot_sales(mdf1)

hw,3DS,DC,DS,GB,GBA,GC,N64,NS2,NSW,NeoGeoP,...,PSP,SATURN,Vita,WS,Wii,WiiU,XB360,XBOne,XSX,Xbox
report_date,,,,,,,,,,,,,,,,,,,,,
1998-10-18,NaN,NaN,NaN,10867.0,NaN,NaN,2965.0,NaN,NaN,NaN,...,NaN,858.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-10-25,NaN,NaN,NaN,163017.0,NaN,NaN,3813.0,NaN,NaN,NaN,...,NaN,1061.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-11-01,NaN,NaN,NaN,71679.0,NaN,NaN,3787.0,NaN,NaN,21471.0,...,NaN,1027.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-11-08,NaN,NaN,NaN,52586.0,NaN,NaN,4962.0,NaN,NaN,4688.0,...,NaN,824.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-11-15,NaN,NaN,NaN,37727.0,NaN,NaN,4972.0,NaN,NaN,3165.0,...,NaN,1144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128643.0,17712.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.0,NaN
2025-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71885.0,13411.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,247.0,NaN
2025-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152165.0,11766.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN
2025-07-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92013.0,14643.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271.0,NaN
2025-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62733.0,18637.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271.0,NaN

In [32]:
# 2025年 6, 7月のデータを取得
m67df = mdf1.loc[(2025, [5, 6, 7]), :]
m67df[["full_name", "units", "sum_units"]]

                        full_name   units  sum_units
year month week
2025 5     1      Nintendo Switch   28029   35636875
           1         PlayStation5   10102    6824864
           1      Xbox Series X|S    1265     676996
           1         PlayStation4      25    9490390
           2      Nintendo Switch   29710   35666585
           2         PlayStation5    8615    6833479
           2      Xbox Series X|S     450     677446
           2         PlayStation4      31    9490421
           3      Nintendo Switch   24478   35691063
           3         PlayStation5    6546    6840025
           3      Xbox Series X|S    1382     678828
           3         PlayStation4      27    9490448
           4      Nintendo Switch   24289   35715352
           4         PlayStation5    6738    6846763
           4      Xbox Series X|S     370     679198
           4         PlayStation4      25    9490473
     6     1      Nintendo Switch   20075   35735427
           1         PlayStation5   15266    6862029
           1      Xbox Series X|S     262     679460
           1         PlayStation4      27    9490500
           2     Nintendo Switch2  715432     715432
           2         PlayStation5   20782    6882811
           2      Nintendo Switch   16611   35752038
           2      Xbox Series X|S     333     679793
           2         PlayStation4      24    9490524
           3     Nintendo Switch2  153205     868637
           3         PlayStation5   14129    6896940
           3      Nintendo Switch   13319   35765357
           3      Xbox Series X|S     261     680054
           3         PlayStation4      22    9490546
           4     Nintendo Switch2  140026    1008663
           4      Nintendo Switch   12769   35778126
           4         PlayStation5    6006    6902946
           4      Xbox Series X|S     191     680245
           4         PlayStation4      28    9490574
           5     Nintendo Switch2  161021    1169684
           5      Nintendo Switch   15323   35793449
           5         PlayStation5    7333    6910279
           5      Xbox Series X|S     353     680598
           5         PlayStation4      23    9490597
     7     1     Nintendo Switch2  128643    1298327
           1      Nintendo Switch   17712   35811161
           1         PlayStation5    8629    6918908
           1      Xbox Series X|S     529     681127
           1         PlayStation4      21    9490618
           2     Nintendo Switch2   71885    1370212
           2      Nintendo Switch   13411   35824572
           2         PlayStation5    7262    6926170
           2      Xbox Series X|S     247     681374
           2         PlayStation4      30    9490648
           3     Nintendo Switch2  152165    1522377
           3      Nintendo Switch   11766   35836338
           3         PlayStation5    6148    6932318
           3      Xbox Series X|S     150     681524
           3         PlayStation4      22    9490670
           4     Nintendo Switch2   92013    1614390
           4      Nintendo Switch   14643   35850981
           4         PlayStation5    6920    6939238
           4      Xbox Series X|S     271     681795
           4         PlayStation4      18    9490688

In [39]:
mp1 = m67df.pivot_table(
    columns=["full_name"],
    index=["year", "month", "week"],
    values=["units", "sum_units"],
    aggfunc={"units": "sum", "sum_units": "sum"}
)

mp1 = mp1.swaplevel(axis=1).sort_index(axis=1)
mp1 = mp1.reindex(['units', 'sum_units'], axis=1, level=1)

In [40]:
mp1.columns.levels[0]

Index(['Nintendo Switch', 'Nintendo Switch2', 'PlayStation4', 'PlayStation5',
       'Xbox Series X|S'],
      dtype='object', name='full_name')

In [41]:
mp1[["Nintendo Switch", "Nintendo Switch2", "PlayStation5"]]

full_name       Nintendo Switch             Nintendo Switch2             \
                          units   sum_units            units  sum_units
year month week
2025 5     1            28029.0  35636875.0              NaN        NaN
           2            29710.0  35666585.0              NaN        NaN
           3            24478.0  35691063.0              NaN        NaN
           4            24289.0  35715352.0              NaN        NaN
     6     1            20075.0  35735427.0              NaN        NaN
           2            16611.0  35752038.0         715432.0   715432.0
           3            13319.0  35765357.0         153205.0   868637.0
           4            12769.0  35778126.0         140026.0  1008663.0
           5            15323.0  35793449.0         161021.0  1169684.0
     7     1            17712.0  35811161.0         128643.0  1298327.0
           2            13411.0  35824572.0          71885.0  1370212.0
           3            11766.0  35836338.0         152165.0  1522377.0
           4            14643.0  35850981.0          92013.0  1614390.0

full_name       PlayStation5
                       units  sum_units
year month week
2025 5     1         10102.0  6824864.0
           2          8615.0  6833479.0
           3          6546.0  6840025.0
           4          6738.0  6846763.0
     6     1         15266.0  6862029.0
           2         20782.0  6882811.0
           3         14129.0  6896940.0
           4          6006.0  6902946.0
           5          7333.0  6910279.0
     7     1          8629.0  6918908.0
           2          7262.0  6926170.0
           3          6148.0  6932318.0
           4          6920.0  6939238.0

In [28]:
mp1

full_name       Nintendo Switch          Nintendo Switch2            \
                      sum_units    units        sum_units     units
year month week
2025 6     1         35735427.0  20075.0              NaN       NaN
           2         35752038.0  16611.0         715432.0  715432.0
           3         35765357.0  13319.0         868637.0  153205.0
           4         35778126.0  12769.0        1008663.0  140026.0
           5         35793449.0  15323.0        1169684.0  161021.0
     7     1         35811161.0  17712.0        1298327.0  128643.0
           2         35824572.0  13411.0        1370212.0   71885.0
           3         35836338.0  11766.0        1522377.0  152165.0
           4         35850981.0  14643.0        1614390.0   92013.0

full_name       PlayStation4       PlayStation5          Xbox Series X|S  \
                   sum_units units    sum_units    units       sum_units
year month week
2025 6     1       9490500.0  27.0    6862029.0  15266.0        679460.0
           2       9490524.0  24.0    6882811.0  20782.0        679793.0
           3       9490546.0  22.0    6896940.0  14129.0        680054.0
           4       9490574.0  28.0    6902946.0   6006.0        680245.0
           5       9490597.0  23.0    6910279.0   7333.0        680598.0
     7     1       9490618.0  21.0    6918908.0   8629.0        681127.0
           2       9490648.0  30.0    6926170.0   7262.0        681374.0
           3       9490670.0  22.0    6932318.0   6148.0        681524.0
           4       9490688.0  18.0    6939238.0   6920.0        681795.0

full_name
                 units
year month week
2025 6     1     262.0
           2     333.0
           3     261.0
           4     191.0
           5     353.0
     7     1     529.0
           2     247.0
           3     150.0
           4     271.0