In [1]:
# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

# プロジェクト内モジュール
from gamedata import hard_sales as hs
from gamedata import plot_hard as ph

In [2]:
df1 = hs.load_hard_sales()
df1["period_date"].unique()
df1.tail()

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8444,2025-08-03_NS2,2025-07-28,2025-08-03,2025-08-03,7,NS2,62733,2025,8,3,31,59,8,2,0,8961,1677123,2025-06-05,Nintendo,Nintendo Switch2
8445,2025-08-03_NSW,2025-07-28,2025-08-03,2025-08-03,7,NSW,18637,2025,8,3,31,3075,439,101,8,2662,35869618,2017-03-03,Nintendo,Nintendo Switch
8446,2025-08-03_PS4,2025-07-28,2025-08-03,2025-08-03,7,PS4,19,2025,8,3,31,4180,597,138,11,2,9490707,2014-02-22,SONY,PlayStation4
8447,2025-08-03_PS5,2025-07-28,2025-08-03,2025-08-03,7,PS5,7141,2025,8,3,31,1725,246,57,5,1020,6946379,2020-11-12,SONY,PlayStation5
8448,2025-08-03_XSX,2025-07-28,2025-08-03,2025-08-03,7,XSX,271,2025,8,3,31,1727,246,57,5,38,682066,2020-11-10,Microsoft,Xbox Series X|S

In [4]:
df2 = hs.load_hard_sales()
df2["period_date"].unique()

array([7])

In [5]:
df2.tail()

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_month,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8444,2025-08-03_NS2,2025-07-28,2025-08-03,2025-08-03,7,NS2,62733,2025,8,3,31,59,8,2,0,8961,1677123,2025-06-05,Nintendo,Nintendo Switch2
8445,2025-08-03_NSW,2025-07-28,2025-08-03,2025-08-03,7,NSW,18637,2025,8,3,31,3075,439,101,8,2662,35869618,2017-03-03,Nintendo,Nintendo Switch
8446,2025-08-03_PS4,2025-07-28,2025-08-03,2025-08-03,7,PS4,19,2025,8,3,31,4180,597,138,11,2,9490707,2014-02-22,SONY,PlayStation4
8447,2025-08-03_PS5,2025-07-28,2025-08-03,2025-08-03,7,PS5,7141,2025,8,3,31,1725,246,57,5,1020,6946379,2020-11-12,SONY,PlayStation5
8448,2025-08-03_XSX,2025-07-28,2025-08-03,2025-08-03,7,XSX,271,2025,8,3,31,1727,246,57,5,38,682066,2020-11-10,Microsoft,Xbox Series X|S