In [10]:
# 標準ライブラリ
from datetime import datetime, timedelta

# サードパーティライブラリ
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

# プロジェクト内モジュール
from gamedata import hard_sales as hs
from gamedata import plot_hard as ph

In [11]:
df1 = hs.load_hard_sales()
df1["period_date"].unique()
df1.tail()

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8203,2025-07-20_NS2,2025-07-14,2025-07-20,2025-07-20,7,NS2,152165,2025,7,20,29,45,6,0,21737,1754876,2025-06-05,Nintendo,Nintendo Switch2
8204,2025-07-20_NSW,2025-07-14,2025-07-20,2025-07-20,7,NSW,11766,2025,7,20,29,3061,437,8,1680,35836338,2017-03-03,Nintendo,Nintendo Switch
8205,2025-07-20_PS4,2025-07-14,2025-07-20,2025-07-20,7,PS4,22,2025,7,20,29,4166,595,11,3,9490670,2014-02-22,SONY,PlayStation4
8206,2025-07-20_PS5,2025-07-14,2025-07-20,2025-07-20,7,PS5,6148,2025,7,20,29,1711,244,5,878,6932318,2020-11-12,SONY,PlayStation5
8207,2025-07-20_XSX,2025-07-14,2025-07-20,2025-07-20,7,XSX,150,2025,7,20,29,1713,244,5,21,681524,2020-11-10,Microsoft,Xbox Series X|S

In [12]:
df2 = hs.load_hard_sales(normalize7=True)
df2["period_date"].unique()

array([7])

In [13]:
df2.tail()

,weekly_id,begin_date,end_date,report_date,period_date,hw,units,year,month,mday,week,delta_day,delta_week,delta_year,avg_units,sum_units,launch_date,maker_name,full_name
8553,2025-07-20_XSX,2025-07-14,2025-07-20,2025-07-20,7,XSX,150,2025,7,20,29,1713,244,5,21,681524,2020-11-10,Microsoft,Xbox Series X|S
8554,2025-07-20_PS5,2025-07-14,2025-07-20,2025-07-20,7,PS5,6148,2025,7,20,29,1711,244,5,878,6932318,2020-11-12,SONY,PlayStation5
8555,2025-07-20_PS4,2025-07-14,2025-07-20,2025-07-20,7,PS4,22,2025,7,20,29,4166,595,11,3,9490670,2014-02-22,SONY,PlayStation4
8556,2025-07-20_NSW,2025-07-14,2025-07-20,2025-07-20,7,NSW,11766,2025,7,20,29,3061,437,8,1680,35836338,2017-03-03,Nintendo,Nintendo Switch
8557,2025-07-20_NS2,2025-07-14,2025-07-20,2025-07-20,7,NS2,152165,2025,7,20,29,45,6,0,21737,1754876,2025-06-05,Nintendo,Nintendo Switch2